diffusion2d/combine_samples.py
diffusion2d/config_galpure.json
diffusion2d/config_galsmear.json
diffusion2d/config_mean_std.json
diffusion2d/config.json
diffusion2d/config.py
diffusion2d/layers.py
diffusion2d/layerspp.py
diffusion2d/make_obs.py
diffusion2d/model.py
diffusion2d/README.md
diffusion2d/results.py
diffusion2d/sample.py
diffusion2d/sample.sh
diffusion2d/slurm-2760560.out
diffusion2d/train.py
diffusion2d/train.sh
diffusion2d/utils.py
diffusion2d/__pycache__/layers.cpython-310.pyc
diffusion2d/__pycache__/layerspp.cpython-310.pyc
diffusion2d/__pycache__/model.cpython-310.pyc
diffusion2d/__pycache__/utils.cpython-310.pyc
diffusion2d/__pycache__/utils.cpython-311.pyc
diffusion2d/run/fiducial/mean_val_data.py
diffusion2d/run/fiducial/mean.npy
diffusion2d/run/fiducial/noisy_mean.npy
diffusion2d/run/fiducial/sample1.npy
diffusion2d/run/fiducial/view_result.py
